:root{
    --primaryColor:#00362D;
    --2ndColor:#0D5146;
    --3rdColor:#246C60;
    --4thColor: #5e9b90;
    --5thColor: #aed3cd;
    --bodyColor:#2b3130;
    --mainWhite: rgb(244, 255, 253);
    --mainBright:rgba(243,234,218,1);
}

$mobile: "only screen and (max-width : 480px)"; 
$tablet: "only screen and (max-width : 768px)";
$largetablet: "only screen and (max-width : 895px)";
$desktop: "only screen and (max-width : 1025px)";
$largedesktop: "only screen and (max-width : 2225px)";

.container1{
    background-color: var(--bodyColor);
    padding: 30px;
    display: flex;
    flex-direction: column;
    @media #{$mobile}{
        font-size: 1rem;
        margin-top: 0rem !important;
    }
    @media #{$tablet}{
        font-size: 1rem;
        margin-top: 0rem !important;
    }
}
hr{
    color: var(--mainBright);
}
h2{
    color: var(--mainBright);
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    @media #{$mobile}{
        font-size: 1.3rem;
        margin: 10px;
    }
    @media #{$tablet}{
        font-size: 1.3rem;
        margin: 10px;
    }
    
}
form{
    margin: 30px;
    @media #{$mobile}{
        font-size: 1.2rem;
        margin: 10px;
    }
    @media #{$tablet}{
        font-size: 1.2rem;
        margin: 10px;
    }
}
p{
    color: var(--5thColor);
    font-size: 1.5rem;
    gap: 20px;
    @media #{$mobile}{
        font-size: 1rem;
        gap: 10px;
    }
    @media #{$tablet}{
        font-size: 1rem;
        gap: 10px;
    }
}
.text{
    font-size: 2rem;
    color: var(--4thColor);
    margin-left: 20px;
    @media #{$mobile}{
        font-size: 1.2rem;
        margin: 10px;
    }
    @media #{$tablet}{
        font-size: 1.2rem;
        margin: 5px;
    }
}
a{
    color: var(--4thColor);
}
a:hover{
    color: var(--mainBright) !important;
}
.submit{
    background-color: var(--5thColor);
    color: var(--primaryColor);
    width: 120px;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin: 20px;
    @media #{$mobile}{
        font-size: 1.2rem;
        margin: 10px;
        width: 37%;
        height: 2.3rem;
        padding: 5px;
        border-radius: 2px;
    }
    @media #{$tablet}{
        font-size: 1.2rem;
        margin: 10px;
        width: 37%;
        height: 2.3rem;
        padding: 5px;
        border-radius: 2px;
    }
}

.submit:hover{
    color: var(--5thColor);
    background-color: var(--primaryColor);
    transition: 0.3s all ease-in-out;;
}

input:not(.submit){
    border: 2px solid var(--5thColor);
    width: 60%;
    border-radius: 2px;
    height: 50px;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--mainBright);
    @media #{$mobile}{
        font-size: 1.2rem;
        margin: 5px;
        width: 100%;
        height: 2.5rem;
        padding: 5px;
        border-radius: 2px;
    }
    @media #{$tablet}{
        font-size: 1.2rem;
        margin: 5px;
        width: 75%;
        height: 2.5rem;
        padding: 5px;
        border-radius: 2px;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 60000000s, color 0s 60000000s !important; 
}
.bgcontainer{
    background-image: none;
}
.svg1{
    background-image: url(../static/1318349.svg);
    // background-position: bottom right;
    background-position-x: 82%;
    background-position-y: 97%;
    background-size: 25%;
    background-repeat: no-repeat ;
}
.svg2{
    background-image: url(../static/1318351.svg);
    // background-position: top right;
    background-position-x: right;
    background-position-y: -1%;
    background-size: 25%;
    background-repeat: no-repeat ;
}